@model WeatherList
@{
    ViewData["Title"] = "Index";
}

<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script>
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                dataType: "json",
                url: "https://localhost:7115/Weather/getHottestCity",
                success: function (data) {
                    $('#city_name').html("City: " + data.CityName);
                    $('#total_days').html("Days > 30 °C: " + data.NumberofDays + " days");
                },
                error: function (error) {

                    jsonValue = jQuery.parseJSON(error.responseText);
                    alert("error" + error.responseText);
                }
            });
            $.ajax({
                type: "GET",
                dataType: "json",
                url: "https://localhost:7115/Weather/getCityHighestHumidity",
                success: function (data) {
                    $('#city_name_humidity').html("City: " + data.CityName);
                    $('#city_humidity').html("Avg Humidity: " + data.AverageHumidity + " %");
                },
                error: function (error) {

                    jsonValue = jQuery.parseJSON(error.responseText);
                    alert("error" + error.responseText);
                }
            });
        });
    </script>
    </head>
    <body>
        <div class="container p-3">
        <div id="top_banner" class="row pt-4">
                <div class="row col-12">  
                    <div class="col-4 col-md-4 col-lg-4">
                        <img src="/images/sun.png" alt="Cloud" width="100" height="100" style="float: left;">
                    </div>
                <div class="col-4 col-md-4 col-lg-4">
                        <h1 id="city_temp"/>
                    </div>
                        <div class="col-4 col-md-4 col-lg-4">
                            <h1 id="avg_metric">@ViewBag.avgTemp[0] @ViewBag.avgTemp[1] @ViewBag.avgTemp[2]</h1>
                        </div>

                </div>
            </div>

        <form name="filter_chart" method="post" asp-controller="Weather" asp-action="Index" onsubmit="return validateForm()">
            <div class="row pt-4"  >
                <div class="col-12 col-md-6 col-lg-6">
                    <span>
                        <label for="city_ddl">City:</label>
                        <select id ="city_ddl" name ="cities_ddl" class="form-select" asp-items="@ViewBag.cities" >
                        </select>
                    </span>
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                    <label for="metrics_ddl">Metrics:</label>
                    <select id="metrics_ddl" name="metrics_ddl" class="form-select" asp-items="@ViewBag.metrics">
                    </select>
                </div>
            </div>

            <div class="row pt-8" style="margin-top:1%">
                <div class="col-12 col-md-6 col-lg-6">
                    <label for="date_from">Date From:</label>
                    <div class="input-group date col-4" data-provide="datepicker">
                        <input type="date" id="date_from" name="date_from" class="form-control" />
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                     </div>
                 </div>

                <div class="col-12 col-md-6 col-lg-6">
                    <label for="date_to">Date To:</label>
                    <div id="to_date" class="input-group date " data-provide="datepicker">
                        <input id ="date_to" type="date" name="date_to" class="form-control" />
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class ="row pt-8" style="margin-top:2%;">
                <div class="col-6">
                    <button type="submit" class="btn btn-secondary" style="width:100%;">Filter</button>
                </div>
                <div class="col-6">
                    <a asp-controller="Weather" asp-action="Index" class="btn btn-danger " style="width:100%;">
                        Reset
                    </a>
                </div>
            </div>
            
        </form>


        <div style="margin-top:3%">
            <canvas id="myChart" style="width:100%;max-width:auto"></canvas>
        </div>

        <div class="container" style="margin-top:2%">
            <div class="row g-3">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card" style="width:100%;">
                        <img class="card-img-top" src="/images/hottest_cities.jpg" height="300">
                        <div class="card-body" style="margin-top:2%; margin-bottom:3%;">
                            <h5 class="card-title"> Hottest City</h5>
                            <p id="city_name" class="card-text" style="margin:0px;"></p>
                            <p id = "total_days" class="card-text"></p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card" style="width:100%;">
                        <img class="card-img-top" src="/images/humidity.jpg" height="300">
                        <div class="card-body" style="margin-top:2%; margin-bottom:3%;">
                            <h5 class="card-title">Moistest City</h5>
                            <p id="city_name_humidity" class="card-text" style="margin:0px;"></p>
                            <p id="city_humidity" class="card-text"></p>
                        </div>
                    </div>
                </div>          
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card" style="width:100%;">
                        <img class="card-img-top" src="/images/avg_temp.jpg" height="300">
                        <div class="card-body" style="margin-top:2%; margin-bottom:3%;">
                            <h5 class="card-title">Average Temperature/Humidity</h5>
                            <p id="metric_val" class="card-text" style="margin:0px;"> @ViewBag.avgTemp[0] @ViewBag.avgTemp[1] @ViewBag.avgTemp[2]</p>                               
                            <p id="city_humidity" class="card-text">Please take care!</p>            
                        </div>
                    </div>
                </div>      
            </div>
        </div>
   </div>
    <script>
         //Validate form
        function validateForm() {
            
            var dateFrom = Date.parse(document.getElementById("date_from").value);
            var dateTo = Date.parse(document.getElementById("date_to").value);

            if (dateFrom > dateTo) {
                alert("Start date cannot be later than end date. Please check!");
                return false;
            }
        }
        
        //Get Filter values
        var city_ddl = document.getElementById("city_ddl");
        var selectedCity = city_ddl.options[city_ddl.selectedIndex].text;
        var metric_ddl = document.getElementById("metrics_ddl");
        var selectedMetric = metric_ddl.options[metric_ddl.selectedIndex].value;
        document.getElementById("city_temp").innerHTML = selectedCity.toUpperCase();

        //initialize chart and values
        var value = city_ddl.value;
        var chartdata = @Html.Raw(Json.Serialize(Model.ChartList));
        var data = [];
        var labels = [];

        chartdata.forEach((value) => {
            labels.push(value.x);
            data.push(value.y);
        });

        var ctx = document.getElementById('myChart').getContext('2d');
        
        //Tempurature Chart
        const displayTempChart = () => {

            var data1 = [];
            var data2 = [];
            var maxVal = Math.max(...chartdata.map(o => o.y));

            chartdata.forEach((value) => {
                data1.push(25);
            });

            chartdata.forEach((value) => {
                data2.push(maxVal + 10);
            });

            var chart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                            label: "Temperature",
                            fill: false,
                            borderColor: 'rgb(65,105,225)',
                            data: data,
                        },
                        {
                            label: 'Low',
                            data: data1,
                            type: 'line',
                            backgroundColor: 'rgb(255,165,0)',
                            pointRadius: 0
                        },
                        {
                            label: 'High',
                            data: data2,
                            type: 'line',
                            backgroundColor: 'rgb(160,160,160)',
                            pointRadius: 0,
                            fill:1
                        }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    legend: {
                        onClick: (e) => e.stopPropagation()
                    }
                }
            });
        };

        //Humidity Chart
        const displayHumidityChart = () =>{
            var chart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: "Humidity",
                        backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(255, 99, 132)',
                        data: data,
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    legend: {
                        onClick: (e) => e.stopPropagation()
                    }
                }
            });
        };

       

        if (selectedMetric == "Temperature") {
            displayTempChart();
        }
        else {
            displayHumidityChart();
        }

        validateForm();
    </script>
   </body>
</html>
